<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $(".textun").hide();
    $(".textdeux").hide();
    $(".texttrois").hide();
$(".pres").click(function() {
      $(".textun").toggle();
      $(".textdeux").hide();
      $(".texttrois").hide();
});
$(".menu").click(function() {
      $(".textun").hide();
      $(".textdeux").toggle();
      $(".texttrois").hide();
});
$(".services").click(function() {
      $(".textun").hide();
      $(".textdeux").hide();
      $(".texttrois").toggle();
});
});
 $(document).ready(function() {
    $("div:first-child").show();
});

      var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none"; 
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block"; 
  dots[slideIndex-1].className += " active";

}
</script>

    <title>CHEZ WAM</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	
  	<div class="yield">
    <%= yield %>
    </div>
  </body>
</html>
