<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $(".text1").hide();
    $(".text2").hide();
    $(".text3").hide();
$(".pres").click(function() {
      $(".text1").show();
      $(".text2").hide();
      $(".text3").hide();
});
$(".menu").click(function() {
      $(".text1").hide();
      $(".text2").show();
      $(".text3").hide();
});
$(".services").click(function() {
      $(".text1").hide();
      $(".text2").hide();
      $(".text3").show();
});
});
</script>

    <title>CHEZ WAM</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	
  	<div class="yield">
    <%= yield %>
    </div>
  </body>
</html>
